{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock title %}

{% block content %}
    <div class="block">
        <div class="label">
            <div class="text">{{ page_title }}</div>
        </div>
        <div class="functions">
            <div class="function" id="addItemButton">
                <div class="image"><i class="fa-solid fa-plus"></i></div>
                <div class="text">Dodaj przedmiot</div>
            </div>
        </div>
    </div>
    <div class="table">
        <table id="itemsTable">
            <tr class="sticky">
                <th data-sort-dir="asc">ID</th>
                <th data-sort-dir="asc">Nazwa</th>
                <th data-sort-dir="asc">Typ</th>
                <th data-sort-dir="asc">Kod</th>
                <th data-sort-dir="asc">Lokalizacja</th>
            </tr>
            {% for item in items %}
                <tr class="itemsRow">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.item_type }}</td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.room.name }} - {{ item.room.address.name }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $('#itemsTable th').click(function() {
                var table = $(this).closest('table');
                var rows = table.find('tbody > tr').get();
                var columnIndex = $(this).index();
                var sortDir = $(this).data('sort-dir') === 'asc' ? 'desc' : 'asc';

                rows.sort(function(a, b) {
                    var cellA = $(a).children('td').eq(columnIndex).text().toUpperCase();
                    var cellB = $(b).children('td').eq(columnIndex).text().toUpperCase();

                    cellA = isNaN(cellA) ? cellA : parseFloat(cellA);
                    cellB = isNaN(cellB) ? cellB : parseFloat(cellB);

                    if (sortDir === 'asc') {
                        return cellA > cellB ? 1 : -1;
                    } else {
                        return cellA < cellB ? 1 : -1;
                    }
                });

                $.each(rows, function(index, row) {
                    if (!$(row).hasClass('sticky')) {
                       table.children('tbody').append(row);
                    }
                });

                $(this).data('sort-dir', sortDir);
            });
        });
    </script>

{% endblock content %}
