:root {
  --color-1: #326e93;
  --color-2: #22557a;
  --color-3: #a3a3a3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100dvh;
  max-height: 100dvh;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  background: #fff;
}

main {
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.table {
  max-width: 100%;
  overflow-x: auto;
  table {
    width: 100%;
    tr {
      &.sticky {
        position: sticky;
        top: -20px;
      }
      th, td {
        padding: 8px;
        border: 1px #000 solid;
      }
      th {
        background: var(--color-1);
        color: #fff;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--color-2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-1);
}

.sidebar_container {
  width: fit-content;
  display: flex;
  position: relative;
  background: var(--color-1);
  .sidebar_button {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 8px;
    color: #fff;
  }
  .sidebar {
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    &.hidden {
      display: none;
    }
    * {
      color: #fff;
    }
    .items {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 20px;
      &:last-child {
        margin-bottom: 20px;
      }
      .item {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 1.2rem;
        &#logo {
          justify-content: center;
          padding-bottom: 20px;
          font-size: 1.6rem;
          font-weight: bold;
        }
        .image {
          width: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}


.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &#title {
    padding-bottom: 20px;
    border-bottom: 2px var(--color-3) solid;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .functions {
    display: flex;
    justify-content: right;
    .function {
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      background: var(--color-1);
      color: #fff;
      padding: 8px 12px;
      border-radius: 12px;
      &:hover {
        background: var(--color-2);
        transition: 0.2s ease;
      }
    }
  }
  .label {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    background: var(--color-2);
    color: #fff;
    padding: 8px 20px 8px 20px;
    border-radius: 50vw;
  }
  .elements {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    &.hidden {
      display: none;
    }
    .element {
      height: 200px;
      aspect-ratio: 1.4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      text-align: center;
      padding: 20px;
      border: 1px var(--color-3) solid;
      border-radius: 8px;
      background: var(--color-1);
      color: #fff;
      &:hover {
        background: var(--color-2);
        transition: 0.2s ease;
      }
      .image {
        font-size: 2.4rem;
      }
      .text {
        font-size: 1.2rem;
      }
    }
  }
}
