<div class="items">
    <form class="form" id="addNotificationForm">
        <div class="item always">
            <small>Tytuł</small>
            <input type="text" name="title" id="title">
        </div>
        <div class="item always">
            <small>Treść</small>
            <textarea name="message" id="message" rows="4" style="resize: vertical;"></textarea>
        </div>
        <div class="item always" id="frequencyInputs">
            <div class="radio_items">
                <input type="radio" name="type" id="type1" value="single_use">
                <label for="type1">Jednorazowe</label>

                <input type="radio" name="type" id="type2" value="cyclical">
                <label for="type2">Cykliczne</label>

                <input type="radio" name="type" id="type3" value="reminder">
                <label for="type3">Przypomnienie</label>
            </div>
        </div>
        <div class="item single_use">
            <small>Data wykonania</small>
            <input type="datetime-local" name="date" id="date">
        </div>
        <div class="item cyclical">
            <small>Data początkowa</small>
            <input type="datetime-local" name="startDate" id="startDate">
        </div>
        <div class="item cyclical">
            <small>Częstotliwość (dzień)</small>
            <input type="number" name="frequency" id="frequency">
        </div>
        <div class="item reminder">
            <small>Czas przed wydarzeniem (min)</small>
            <input type="number" name="timeBefore" id="timeBefore">
        </div>
        <div class="item always">
            <small>Wybierz odbiorcę</small>
            <input type="text" name="recipients" id="recipients" autocomplete="off">
            <div id="usersList">
                <div class="users_list"></div>
            </div>
        </div>
        <div class="item always">
            <small>Odbiorcy</small>
            <div id="recipientsList"></div>
        </div>
        <div class="item always">
            <small>Aktywny</small>
            <label>
                <input type="checkbox" name="isActive" id="isActive" value="True">Tak
            </label>
        </div>
        <button type="submit">Dodaj</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('addNotificationForm');
        const recipientsList = document.getElementById('recipientsList');
        const radioInputs = document.querySelectorAll('input[type="radio"][name="type"]');

        form.addEventListener('submit', function (event) {
            event.preventDefault();

            const formData = new FormData(form);

            const requestData = {};
            formData.forEach((value, key) => {
                requestData[key] = value;
            });

            if (!requestData['title']) {
                Swal.fire({
                    title: 'Niekompletny formularz',
                    text: 'Proszę podać tytuł',
                    icon: "warning",
                    confirmButtonColor: '#22557a',
                    confirmButtonText: 'Ok',
                });
                return;
            }

            if (!requestData['message']) {
                Swal.fire({
                    title: 'Niekompletny formularz',
                    text: 'Proszę podać treść wiadomości',
                    icon: "warning",
                    confirmButtonColor: '#22557a',
                    confirmButtonText: 'Ok',
                });
                return;
            }

            let typeChecked = false;
            let selectedType = '';
            radioInputs.forEach(input => {
                if (input.checked) {
                    typeChecked = true;
                    selectedType = input.value;
                }
            });

            if (!typeChecked) {
                Swal.fire({
                    title: 'Niekompletny formularz',
                    text: 'Proszę wybrać jeden z typów powiadomienia',
                    icon: "warning",
                    confirmButtonColor: '#22557a',
                    confirmButtonText: 'Ok',
                });
                return;
            }

            if (selectedType === 'single_use') {
                if (!requestData['date']) {
                    Swal.fire({
                        title: 'Niekompletny formularz',
                        text: 'Proszę podać datę wykonania',
                        icon: "warning",
                        confirmButtonColor: '#22557a',
                        confirmButtonText: 'Ok',
                    });
                    return;
                }
            } else if (selectedType === 'cyclical') {
                if (!requestData['startDate']) {
                    Swal.fire({
                        title: 'Niekompletny formularz',
                        text: 'Proszę podać datę początkową',
                        icon: "warning",
                        confirmButtonColor: '#22557a',
                        confirmButtonText: 'Ok',
                    });
                    return;
                }
                if (!requestData['frequency']) {
                    Swal.fire({
                        title: 'Niekompletny formularz',
                        text: 'Podaj częstotliwość wysyłania',
                        icon: "warning",
                        confirmButtonColor: '#22557a',
                        confirmButtonText: 'Ok',
                    });
                    return;
                }
            } else if (selectedType === 'reminder') {
                if (!requestData['timeBefore']) {
                    Swal.fire({
                        title: 'Niekompletny formularz',
                        text: 'Podaj czas przed wydarzeniem',
                        icon: "warning",
                        confirmButtonColor: '#22557a',
                        confirmButtonText: 'Ok',
                    });
                    return;
                }
            }

            const recipients = [];
            recipientsList.childNodes.forEach(child => {
                if (child.classList && child.classList.contains('recipient')) {
                    const text = child.querySelector('.text').innerText;
                    recipients.push(text);
                }
            });

            if (recipients.length === 0) {
                Swal.fire({
                    title: 'Niekompletny formularz',
                    text: 'Musisz wybrać przynajmniej jednego odbiorcę',
                    icon: "warning",
                    confirmButtonColor: '#22557a',
                    confirmButtonText: 'Ok',
                });
                return;
            }
            requestData['recipients'] = recipients;

            if (!requestData['isActive']) {
                requestData['isActive'] = false;
            }

            Swal.fire({
                title: 'Czy na pewno chcesz zapisać powiadomienie?',
                showCancelButton: true,
                confirmButtonColor: '#22557a',
                confirmButtonText: 'Tak',
                cancelButtonText: 'Nie'
            }).then((result) => {
                if (result.isConfirmed) {
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '{% url "save_notification_page" %}', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');

                    xhr.onload = function () {
                        if (xhr.status >= 200 && xhr.status < 400) {
                            form.reset();
                            recipientsList.innerHTML = '';
                            Swal.fire({
                                title: 'Zapisano!',
                                text: 'Powiadomienie zostało zapisane',
                                icon: 'success',
                                confirmButtonColor: '#22557a',
                                confirmButtonText: 'Ok',
                            });
                            closeOverlay();
                        } else {
                            Swal.fire({
                                title: 'Niekompletny formularz',
                                text: 'Błąd podczas pobierania danych',
                                icon: "warning",
                                confirmButtonColor: '#22557a',
                                confirmButtonText: 'Ok',
                            });
                        }
                    };
                    xhr.send(JSON.stringify(requestData));
                } else {
                    Swal.fire({
                        title: 'Anulowano',
                        text: 'Powiadomienie nie zostało zapisane',
                        icon: 'info',
                        confirmButtonColor: '#22557a',
                        confirmButtonText: 'Ok',
                    });
                }
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var recipientsInput = document.getElementById('recipients');
        var usersListDiv = document.getElementById('usersList');
        var usersList = usersListDiv.querySelector('.users_list');
        var recipientsList = document.getElementById('recipientsList');
        var allUsers = [];

        getAllUsers();

        function getAllUsers() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{% url "get_all_users_api" %}', true);

            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 400) {
                    allUsers = JSON.parse(xhr.responseText);
                } else {
                    console.error('Błąd podczas pobierania danych.');
                }
            };

            xhr.onerror = function () {
                console.error('Błąd sieciowy.');
            };

            xhr.send();
        }

        recipientsInput.addEventListener('input', function () {
            var searchText = recipientsInput.value;

            if (searchText.length > 0) {
                var filteredUsers = allUsers.filter(function (user) {
                    return (
                        (user.full_name.includes(searchText.toLowerCase())) ||
                        (user.email.includes(searchText.toLowerCase()))
                    );
                });
                displayUsers(filteredUsers);
            } else {
                clearUsersList();
            }
        });

        function displayUsers(users) {
            clearUsersList();

            var addedUsersCount = usersList.querySelectorAll('.user').length;

            users.forEach(function (user, index) {
                if (!isUserInRecipientList(user.email) && addedUsersCount < 3) {
                    var userDiv = Object.assign(document.createElement('div'),
                        {className: "user"});
                    var userImageDiv = Object.assign(document.createElement('div'),
                        {className: "image", innerHTML: `<i class="fa-solid fa-user"></i>`});
                    var userTextDiv = Object.assign(document.createElement('div'),
                        {className: "text", innerHTML: user.full_name + ' (' + user.email + ')'});
                    userDiv.appendChild(userImageDiv);
                    userDiv.appendChild(userTextDiv);
                    userDiv.addEventListener('click', function () {
                        addRecipient(user.email);
                    });
                    usersList.appendChild(userDiv);
                    addedUsersCount++;
                }
            });
        }

        function isUserInRecipientList(email) {
            const recipients = recipientsList.querySelectorAll('.recipient');
            for (var i = 0; i < recipients.length; i++) {
                if (recipients[i].querySelector('.text').innerHTML === email) {
                    return true;
                }
            }
            return false;
        }

        function clearUsersList() {
            while (usersList.firstChild) {
                usersList.removeChild(usersList.firstChild);
            }
        }

        function deleteRecipient(recipientDiv) {
            recipientDiv.parentNode.removeChild(recipientDiv);
        }

        function addRecipient(email) {
            var recipientDiv = Object.assign(document.createElement('div'), {className: "recipient"});
            var recipientImageDiv = Object.assign(document.createElement('div'),
                {className: "image", innerHTML: `<i class="fa-solid fa-user"></i>`})
            var recipientTextDiv = Object.assign(document.createElement('div'),
                    {className: "text", innerHTML: email});
            var recipientFunctionDiv = Object.assign(document.createElement('div'),
                    {className: "function", innerHTML: `<i class="fa-regular fa-circle-xmark"></i>`});
            recipientDiv.appendChild(recipientImageDiv);
            recipientDiv.appendChild(recipientTextDiv);
            recipientDiv.appendChild(recipientFunctionDiv);
            recipientFunctionDiv.addEventListener("click", function () {
                deleteRecipient(recipientDiv);
            })
            recipientsList.appendChild(recipientDiv);
            clearUsersList();
            recipientsInput.value = '';
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const frequencyInputs = document.getElementById('frequencyInputs');
        const radioInputs = frequencyInputs.querySelectorAll('input[type="radio"][name="type"]');
        const formItems = document.getElementById('addNotificationForm');
        const items = formItems.querySelectorAll('.item');

        function toggleItems() {
            const selectedInput = frequencyInputs.querySelector('.radio_items input[type="radio"][name="type"]:checked');
            if (selectedInput) {
                const selectedType = selectedInput.value;

                items.forEach(item => {
                    const itemClasses = item.classList;
                    if (!itemClasses.contains(selectedType) && !itemClasses.contains('always')) {
                        item.style.display = "none";
                    } else {
                        item.style.display = "flex";
                    }
                });
            }
        }

        radioInputs.forEach(input => {
           input.addEventListener("change", toggleItems);
        });

        toggleItems();
    });
</script>
