<div class="items">
    <form>
        <div class="item">
            <small>Tytuł</small>
            <input type="text" name="title" id="title">
        </div>
        <div class="item">
            <small>Treść</small>
            <textarea name="message" id="message" rows="4" style="resize: vertical;"></textarea>
        </div>
        <div class="item">
            <small>Data początkowa</small>
            <input type="datetime-local" name="startDate" id="startDate">
        </div>
        <div class="item">
            <small>Częstotliwość (dzień)</small>
            <input type="number" name="frequency" id="frequency">
        </div>
        <div class="item">
            <small>Odbiorcy</small>
            <input type="text" name="recipients" id="recipients">
        </div>
        <div class="item">
            <small>Aktywny</small>
            <label>
                <input type="checkbox" name="status" value="True">Tak
            </label>
        </div>
        <button type="submit">Dodaj</button>
    </form>
</div>