<div class="items" id="showFormItems">
    <div class="form">
        <div class="item always">
            <small>ID</small>
            <input type="number" name="id" id="id" readonly>
        </div>
        <div class="item always">
            <small>Tytuł</small>
            <input type="text" name="title" id="title" readonly>
        </div>
        <div class="item always">
            <small>Treść</small>
            <textarea name="message" id="message" rows="4" style="resize: vertical;" readonly></textarea>
        </div>
        <div class="item always">
            <small>Typ</small>
            <input type="text" name="notification_type" id="notification_type" readonly>
        </div>
        <div class="item single_use">
            <small>Data wykonania</small>
            <input type="datetime-local" name="date" id="date" readonly>
        </div>
        <div class="item cyclical">
            <small>Data początkowa</small>
            <input type="datetime-local" name="startDate" id="startDate" readonly>
        </div>
        <div class="item cyclical">
            <small>Częstotliwość (dzień)</small>
            <input type="number" name="frequency" id="frequency" readonly>
        </div>
        <div class="item reminder">
            <small>Czas przed wydarzeniem (min)</small>
            <input type="number" name="timeBefore" id="timeBefore" readonly>
        </div>
        <div class="item always">
            <small>Odbiorcy</small>
            <textarea name="recipientList" id="recipientsList" rows="4" style="resize: vertical;" readonly></textarea>
        </div>
        <div class="item always">
            <small>Aktywny</small>
            <input type="text" name="isActive" id="isActive" readonly>
        </div>
        <button onclick="deleteNotification(this)" id="deleteNotificationButton">Usuń</button>
    </div>
</div>

<script>
    function deleteNotification(button) {
        var notificationId = button.dataset.value;

        Swal.fire({
            title: 'Czy na pewno chcesz usunąć powiadomienie?',
            showCancelButton: true,
            confirmButtonColor: '#22557a',
            confirmButtonText: 'Tak',
            cancelButtonText: 'Nie'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('{% url "delete_notification_page" notification_id=0 %}'.replace('0', notificationId))
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Błąd sieci')
                        }
                        Swal.fire({
                            title: 'Usunięto!',
                            text: 'Powiadomienie zostało usunięte',
                            icon: 'success',
                            confirmButtonColor: '#22557a',
                            confirmButtonText: 'Ok',
                        });
                        closeOverlay();
                    })
                    .then(error => {
                        console.error(error);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }
        });
    }
</script>