{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock title %}

{% block content %}
    <div class="block">
        <div class="label">
            <div class="text">{{ page_title }}</div>
        </div>
        <div class="functions">
            <div class="function" id="filterTypeButton" data-value="all_types" onclick="toggleFilter('filterTypeButton')">
                <div class="image"><i class="fa-solid fa-filter"></i></div>
                <div class="text">Pokaż jednorazowe</div>
            </div>
            <div class="function" id="filterStatusButton" data-value="all_statuses" onclick="toggleFilter('filterStatusButton')">
                <div class="image"><i class="fa-solid fa-filter"></i></div>
                <div class="text">Pokaż aktywne</div>
            </div>
            <div class="function" onclick="toggleOverlay(this, 'addNotification')">
                <div class="image"><i class="fa-solid fa-plus"></i></div>
                <div class="text">Dodaj powiadomienie</div>
            </div>
        </div>
        <div class="table">
            <table id="notificationsTable">
                <tr class="sticky">
                    <th data-sort-dir="asc">Tytuł</th>
                    <th data-sort-dir="asc">Typ</th>
                    <th data-sort-dir="asc">Data utworzenia</th>
                    <th data-sort-dir="asc">Odbiorcy</th>
                    <th data-sort-dir="asc">Status</th>
                </tr>
                {% for notification in notifications %}
                    <tr class="notificationRow
                        {% if notification.is_active %}active{% else %}inactive{% endif %}
                        {% if notification.notification_type == 'single_use' %}single_use
                        {% elif notification.notification_type == 'cyclical' %}cyclical
                        {% elif notification.notification_type == 'reminder' %}reminder{% endif %}">
                        <td onclick="showNotificationInfo('{{ notification.id }}')">{{ notification.title }}</td>
                        <td onclick="showNotificationInfo('{{ notification.id }}')">{{ notification.type_name }}</td>
                        <td onclick="showNotificationInfo('{{ notification.id }}')">{{ notification.formatted_created_at }}</td>
                        <td onclick="showNotificationInfo('{{ notification.id }}')">{{ notification.count_recipients }}</td>
                        <td onclick="showNotificationInfo('{{ notification.id }}')">{{ notification.is_active_return }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <script>
        let notification_status = "all_statuses"
        let notification_type = "all_types"

        function rowDisplay(status, type) {
            const tableRows = document.querySelectorAll("#notificationsTable .notificationRow");

            if (status !== 'all_statuses' && type !== 'all_types') {
                tableRows.forEach(row => {
                    if (row.classList.contains(status) && row.classList.contains(type)) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                });
            } else if (status !== 'all_statuses' && type === 'all_types') {
                tableRows.forEach(row => {
                    if (row.classList.contains(status)) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                });
            } else if (status === 'all_statuses' && type !== 'all_types') {
                tableRows.forEach(row => {
                    if (row.classList.contains(type)) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                });
            } else {
                tableRows.forEach(row => {
                    row.style.display = "";
                });
            }
        }

        function toggleFilter(buttonId) {
            const filterButton = document.getElementById(buttonId);
            const filterButtonValue = filterButton.getAttribute('data-value');
            const filterButtonText = filterButton.querySelector('.text');

            if (buttonId === 'filterStatusButton') {
                if (filterButtonValue === "all_statuses") {
                    filterButton.setAttribute('data-value', "active");
                    filterButtonText.innerText = "Pokaż nieaktywne";
                    notification_status = 'active';
                } else if (filterButtonValue === "active") {
                    filterButton.setAttribute('data-value', "inactive");
                    filterButtonText.innerText = "Pokaż wszystkie";
                    notification_status = 'inactive';
                } else if (filterButtonValue === "inactive") {
                    filterButton.setAttribute('data-value', "all_statuses");
                    filterButtonText.innerText = "Pokaż aktywne";
                    notification_status = 'all_statuses';
                }


            } else if (buttonId === 'filterTypeButton') {
                if (filterButtonValue === "all_types") {
                    filterButton.setAttribute('data-value', "single_use");
                    filterButtonText.innerText = "Pokaż cykliczne";
                    notification_type = 'single_use';
                } else if (filterButtonValue === "single_use") {
                    filterButton.setAttribute('data-value', "cyclical");
                    filterButtonText.innerText = "Pokaż przypomnienia";
                    notification_type = 'cyclical';
                } else if (filterButtonValue === "cyclical") {
                    filterButton.setAttribute('data-value', "reminder");
                    filterButtonText.innerText = "Pokaż wszystkie typy";
                    notification_type = 'reminder';
                } else if (filterButtonValue === "reminder") {
                    filterButton.setAttribute('data-value', "all_types");
                    filterButtonText.innerText = "Pokaż jednorazowe";
                    notification_type = 'all_types';
                }
            }
            rowDisplay(notification_status, notification_type);
        }

        $(document).ready(function() {
           $('#notificationsTable th').click(function() {
               var table = $(this).closest('table');
               var rows = table.find('tbody > tr').get();
               var columnIndex = $(this).index();
               var sortDir = $(this).data('sort-dir') === 'asc' ? 'desc' : 'asc';

               rows.sort(function(a, b) {
                   var cellA = $(a).children('td').eq(columnIndex).text().toUpperCase();
                   var cellB = $(b).children('td').eq(columnIndex).text().toUpperCase();
                   if (sortDir === 'asc') {
                       return cellA.localeCompare(cellB);
                   } else {
                       return cellB.localeCompare(cellA);
                   }
               });

               $.each(rows, function(index, row) {
                   if (!$(row).hasClass('sticky')) {
                       table.children('tbody').append(row);
                   }
               });

               $(this).data('sort-dir', sortDir);
           });
        });

        function showNotificationInfo(notificationId = 0) {
            fetch('{% url "get_notification_info_page" notification_id=0 %}'.replace('0', notificationId))
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Błąd sieci')
                    }
                    return response.json();
                })
                .then(data => {
                    toggleOverlay(null, 'notificationInfo', 'Powiadomienie');
                    const showFormItems = document.getElementById('showFormItems');
                    const formItemsInput = showFormItems.getElementsByTagName('input');
                    const formItemsTextarea = showFormItems.getElementsByTagName('textarea');
                    const formItems = Array.from(formItemsInput).concat(Array.from(formItemsTextarea));
                    const deleteNotificationButton = document.getElementById('deleteNotificationButton');

                    for (const key in data) {
                        if (Object.hasOwnProperty.call(data, key)) {
                            const value = data[key];
                            for (const item of formItems) {
                                if (key === 'recipientsList' && item.id === key) {
                                    let verticalList = "";
                                    for (let i = 0; i < value.length; i++) {
                                        const recipient = value[i];
                                        verticalList += recipient.trim();
                                        if (i < value.length - 1) {
                                            verticalList += '\n';
                                        }
                                    }
                                    item.value = verticalList;
                                } else {
                                    if (item.id === key) {
                                        if (key === 'id') {
                                            deleteNotificationButton.dataset.value = value;
                                        }
                                        item.value = value;
                                    }
                                }
                            }
                        }
                    }

                    const notificationTypeDiv = showFormItems.querySelector('#notification_type');
                    let notificationType = notificationTypeDiv.value;

                    console.log(notificationType);

                    if (notificationType === "Jednorazowe") {
                        notificationType = "single_use";
                    } else if (notificationType === "Cykliczne") {
                        notificationType = "cyclical";
                    } else if (notificationType === "Przypomnienie") {
                        notificationType = "reminder";
                    }

                    console.log(notificationType);

                    const items = showFormItems.querySelectorAll('.item');
                    items.forEach(item => {
                        if (item.classList.contains(notificationType) || item.classList.contains('always')) {
                            item.style.display = 'flex';
                        } else {
                            item.style.display = 'none';
                        }
                    });
                })
                .catch(error => {
                    console.log(error)
                });
        }
    </script>
{% endblock content %}
