<div class="sidebar_container">
    <div class="sidebar" id="sidebar">
        <div class="items">
            <a href="{% url 'main_panel_page' %}" class="item" id="logo">
                <div class="image"><i class="fa-brands fa-edge-legacy"></i></div>
                <div class="text">Example</div>
            </a>
            <a href="{% url 'main_panel_page' %}"  class="item">
                <div class="image"><i class="fa-solid fa-star"></i></div>
                <div class="text">Panel główny</div>
            </a>
            <a href="" class="item">
                <div class="image"><i class="fa-solid fa-screwdriver-wrench"></i></div>
                <div class="text">Panel administratora</div>
            </a>
            <a href="" class="item">
                <div class="image"><i class="fa-solid fa-bookmark"></i></div>
                <div class="text">Rezerwacje</div>
            </a>
            <a href="" class="item">
                <div class="image"><i class="fa-solid fa-computer"></i></div>
                <div class="text">Przedmioty</div>
            </a>
            <a href="" class="item">
                <div class="image"><i class="fa-solid fa-user-group"></i></div>
                <div class="text">Pracownicy</div>
            </a>
            <a href="" class="item">
                <div class="image"><i class="fa-solid fa-location-dot"></i></div>
                <div class="text">Lokalizacje</div>
            </a>
            <a href="" class="item">
                <div class="image"><i class="fa-solid fa-calendar-days"></i></div>
                <div class="text">Kalendarz</div>
            </a>
            <a href="" class="item">
                <div class="image"><i class="fa-solid fa-life-ring"></i></div>
                <div class="text">Helpdesk</div>
            </a>
        </div>
        <div class="items">
            <a href="" class="item">
                <div class="image"><i class="fa-solid fa-triangle-exclamation"></i></div>
                <div class="item">Zgłoś problem</div>
            </a>
            <a href="" class="item">
                <div class="image"><i class="fa-solid fa-user"></i></div>
                <div class="item">Nazwa użytkownika</div>
            </a>
        </div>
    </div>
    <div class="sidebar_button" onclick="toggleSidebar()">
        <i class="fa-solid fa-caret-left"></i>
    </div>
</div>

<script>
    function toggleSidebar() {
        var sidebar = document.getElementById("sidebar");
        sidebar.classList.toggle("hidden");
    }
</script>