{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock title %}

{% block content %}

    {% for block in blocks %}
        <div class="block">
            <div class="label" onclick="toggleElements(this)">
                <div class="text">{{ block.title }}</div>
                <div class="image"><i class="fa-solid fa-caret-up"></i></div>
            </div>
            <div class="elements">
                {% for element in block.elements %}
                    {% if element.active %}
                        {% if element.url %}
                            <a href="{% url element.url %}" class="element">
                                <div class="image"><i class="fa-solid {{ element.icon }}"></i></div>
                                <div class="text">{{ element.name }}</div>
                            </a>
                        {% elif element.on_click %}
                            <div class="element" onclick="{{ element.on_click }}">
                                <div class="image"><i class="fa-solid {{ element.icon }}"></i></div>
                                <div class="text">{{ element.name }}</div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}


    <script>
        function toggleElements(titleElement) {
            const elementsContainer = titleElement.nextElementSibling;
            elementsContainer.classList.toggle('hidden');
            const icon = titleElement.querySelector('.image i');
            if (icon.classList.contains('fa-caret-up')) {
                icon.classList.remove('fa-caret-up');
                icon.classList.add('fa-caret-down');
            } else {
                icon.classList.remove('fa-caret-down');
                icon.classList.add('fa-caret-up');
            }
        }
    </script>

{% endblock content %}
